body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weather-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.weather-day a{
 color: black;
}

.weather-day a:hover {
	color: green;
}

.daily-weather {
	max-width: 960px;
	margin: 0 auto;
}

.header {
	text-align: center;
}